<!DOCTYPE html>
<html>
<head>
  <title>Verificação de Idade</title>
  <link rel="icon" href="">

</head>
<body>
  <h1><%= message %></h1>
  <form action="/check-age" method="get">
    <label for="age">Idade:</label>
    <input type="text" id="age" name="age">
    <button type="submit">Verificar</button>
  </form>
</body>
</html>
